{% extends "tables_base.html" %}

{% load static %}

{% block breadcrumb %}
  <li><a href="#">Home</a></li>
  <li><a href="#">Gestión de Usuarios</a></li>
  <li class="active">Lista de Usuarios</li>
{% endblock breadcrumb %}

{% block panel_body%}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            {% for header in headers_list %}
                <th>{{ header }}</th>
            {% endfor %}
            </thead>
            <tbody>
            {% for user in users_list %}
                <tr>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {{ user.first_name }} {{ user.last_name }}
                    </td>
                    <td>
                        {% if user.is_staff == True %}
                            SI
                        {% else %}
                            NO
                        {% endif %}
                    </td>
                    <td>
                        {% if user.is_active == True %}
                            Activo
                        {% else %}
                            Inactivo
                        {% endif %}
                    </td>
                    <td>
                        {{ user.date_joined }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock panel_body %}

