coverage==4.5.4
Django==2.2.5
django-jenkins==0.110.0
django-tenants==2.2.3
pep8==1.7.1
psycopg2==2.8.3
pyflakes==2.1.1
pytz==2019.2
sqlparse==0.3.0
python-dotenv==0.10.3

# Cualquier otra libreria que necesite el projecto
