<!--Category name-->
<li class="list-header">Navegación</li>

{% url 'test_base' as test_base %}
<li class="{% if test_base in request.path %} active {% endif %}">
  <a href="{{ test_base }}">
    <i class="ti-home"></i>
    <span class="menu-title">Inicio</span>
  </a>
</li>
{% if request.tenant.schema_name == "public" and request.user.user_type == "Administrador" %}
  {% url 'plan_management' as plan_management %}
  {% url 'franchise_list' as franchise_list %}
  <li class="{% if "franchises/" in request.path %} active active-sub {% endif %}">
    <a href="#">
      <i class="ti-agenda"></i>
      <span class="menu-title">
              Gestión de franquicias
            </span>
      <i class="arrow"></i>
    </a>
    <ul class="collapse">
      <li class="{% if franchise_list in request.path %} active {% endif %}">
        <a href="{% url 'franchise_list' %}">
          <span class="">Listado de franquicias</span>
        </a>
      </li>
      <li class="{% if plan_management in request.path %} active {% endif %}">
        <a href="{% url 'plan_management' %}">
          <span class="">Registro de planes</span>
        </a>
      </li>
    </ul>
  </li>
{% endif %}

{% if request.tenant.schema_name != "public" and request.user.user_type == "Administrador" %}
  {% url 'topping_management' as topping_management %}
  <li class="{% if topping_management in request.path %} active {% endif %}">
    <a href="{{ topping_management }}">
      <i class="ti-home"></i>
      <span class="menu-title">Gestión de ingredientes</span>
    </a>
  </li>
{% endif %}

{% if request.tenant.schema_name != "public" and request.user.user_type == "Administrador" %}
  {% url 'pizzas_management' as pizzas_management %}
  <li class="{% if pizzas_management in request.path %} active {% endif %}">
    <a href="{{ pizzas_management }}">
      <i class="ti-palette"></i>
      <span class="menu-title">Gestión de pizzas</span>
    </a>
  </li>
{% endif %}

{% if request.user.user_type == "Administrador" %}
  {% url 'register_user_admin' as register_user_admin %}
  {% url 'users_list' as users_list %}
  <li class="{% if "users/" in request.path %} active active-sub {% endif %}">
    <a href="#">
      <i class="ti-user"></i>
      <span class="menu-title">
        Gestión de Usuarios
      </span>
      <i class="arrow"></i>
    </a>
    <ul class="collapse">
      <li class="{% if users_list in request.path %} active {% endif %}">
        <a href="{% url 'users_list' %}">
          <span class="menu-title">Lista de Usuarios</span>
        </a>
      </li>
      <li class="{% if register_user_admin in request.path %} active {% endif %}">
        <a href="{% url 'register_user_admin' %}">
          <span class="">Registro de Usuarios</span>
        </a>
      </li>
    </ul>
  </li>
{% endif %}

{% if request.user.user_type == "Administrador" %}
  {% url 'clients_list' as clients_list%}
  <li class="{% if clients_list in request.path %} active {% endif %}">
    <a href="{% url 'clients_list' %}">
      <i class="ti-user"></i>
      <span class="menu-title">Gestión de Clientes</span>
    </a>
  </li>
{% endif %}

{% if request.tenant.schema_name == "public" and request.user.user_type == "Franquicia" %}
  {% url 'franchise_list' as franchise_list %}
  <li class="{% if "franchises/" in request.path %} active active-sub {% endif %}">
    <a href="#">
      <i class="ti-agenda"></i>
      <span class="menu-title">Gestión de franquicias</span>
      <i class="arrow"></i>
    </a>
    <ul class="collapse">
      <li class="{% if franchise_list in request.path %} active {% endif %}">
        <a href="{% url 'franchise_list' %}">
          <span class="">Listado de franquicias</span>
        </a>
      </li>
    </ul>
  </li>
{% endif %}

{% if request.user.user_type == "Franquicia" or request.user.user_type == "Administrador" %}
  {% url 'theme' as theme %}
  <li class="{% if 'theme/' in request.path %} active active-sub {% endif %}">
    <a href="{% url 'theme' %}">
      <i class="ti-palette"></i>
      <span class="menu-title">Temas</span>
    </a>
  </li>
{% endif %}
