<!--Category name-->
<li class="list-header">Navegación</li>

{% url 'test_base' as test_base %}
<li class="{% if test_base in request.path %} active {% endif %}">
  <a href="{{ test_base }}">
    <i class="ti-home"></i>
    <span class="menu-title">Inicio</span>
  </a>
</li>
{% if request.tenant.schema_name == "public" %}


{% url 'plan_management' as plan_management %}
<li class="{% if "franchises/" in request.path %} active active-sub {% endif %}">
  <a href="#">
    <i class="ti-agenda"></i>
    <span class="menu-title">
      Gestión de franquicias
    </span>
    <i class="arrow"></i>
  </a>
  <ul class="collapse">
    <li class="{% if plan_management in request.path %} active {% endif %}">
      <a href="{% url 'plan_management' %}">
        <span class="">Registro de planes</span>
      </a>
    </li>
  </ul>
</li>


{% endif %}