<h2>Registro en SuperPizzas</h2>

<a href="{% url 'home_test' %}">Inicio</a> / 
<a href="{% url 'login' %}">Entrar</a>

<h2>Registro</h2>
<form method="post">
	{% csrf_token %}
	{% for field in form %}
	<p>
		{{ field.label_tag }}<br/>
		{{ field }}
		{% if field.help_text %}
			<small style="color: green">{{ field.help_text }}</small>
		{% endif %}
		{% for error in field.errors %}
			<p style="color: red">{{ error }}</p>
		{% endfor %}
	</p>
	{% endfor %}
	<button type="submit">Registrarse</button>
</form>