{% extends "tables_base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Gestionar pizzas
{% endblock %}

{% block page_title %}
  Gestionar pizzas
{% endblock %}

{% block panel_title %}
  Gestionar pizzas
{% endblock %}

{% block breadcrumb %}
  <li class="active">Gestionar pizzas</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-control"></div>
          <h3 class="panel-title">Gestionar pizzas</h3>
        </div>
        <div class="panel-body">
          <form class="form-vertical" id="pizza_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
              <div class="col-sm-12 col-md-12">
                {% bootstrap_field form.name layout="vertical" %}
                {% bootstrap_field form.image layout="vertical" %}
                {% bootstrap_field form.price layout="vertical" %}
                {% bootstrap_field form.toppings layout="vertical" %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    {{ form.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col-xs-12" align="right">
              <a href="{% url 'home' %}" class="btn btn-dark">Volver</a>
              <button type="submit" class="btn btn-primary">
                Guardar
              </button>
            </div>
          </form>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-8">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-control">
          </div>
          <h3 class="panel-title">Pizzas registradas</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered responsive-table">
              <thead>
                <tr>
                  <th>Imagen</th>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Ingredientes</th>
                  <th>Opciones</th>
                </tr>
              </thead>
              <tbody>
                {% for pizza in pizzas %}
                  <tr>
                    <td>{% if pizza.image %}<img src="{{ pizza.image.url }}" height="50" width="50"/>
                        {% else %} NO_IMAGE
                        {% endif %}
                    </td>
                    <td>{{ pizza.name }}</td>
                    <td>{{ pizza.price }}</td>
                    <td>
                        {% for toppings in pizza_toppings %}
                            {% if toppings.id == pizza.id %}
                                {% for topping in toppings.toppings %}
                                    <span class="label label-default">{{ topping.name }}</span>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                      <div class="dropdown">
                        <button class="btn btn-sm btn-primary btn-active-primary dropdown-toggle"
                                data-toggle="dropdown" type="button">
                          Opciones <i class="ti-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                            <a href="{{ pizza.id }}">Editar</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
