{% extends "tables_base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block title %}
  Gestionar pizzas
{% endblock %}

{% block page_title %}
  Gestionar pizzas
{% endblock %}

{% block panel_title %}
  Gestionar pizzas
{% endblock %}

{% block breadcrumb %}
  <li class="active">Gestionar pizzas</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="panel-control"></div>
          <h3 class="panel-title">Gestionar pizzas</h3>
        </div>
        <div class="panel-body">
          <form class="form-vertical" id="pizza_form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
              <div class="col-sm-12 col-md-12">
                {% bootstrap_form form layout="vertical" %}
                {% if form.errors %}
                  <div class="alert alert-danger">
                    {{ form.errors }}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="row">
              <h4 style="padding-left:10px">Ingredientes</h4>
            </div>
            <div class="row">
              <div style="padding-left:10px">
                {% for topping in toppings_list %}
                <div>
                  <input type="checkbox" value="{{ topping.id }}" on/>
                   {% if topping.image %}
                  <img src="{{ topping.image.url }}" width="42" height="42"/>
                   {% endif %}
                  {{ topping.name }}
                </div>
                {% endfor %}
                <input id="toppings" name="toppings" type="hidden" value="" />
              </div>
            </div>
            <div class="col-xs-12" align="right">
              <a href="{% url 'home' %}" class="btn btn-dark">Volver</a>
              <button type="button" class="btn btn-primary" id="save_button" disabled>
                Guardar
              </button>
            </div>
          </form>
        </div>
        <div class="panel-footer"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    // If there is no topping selected just disable save button
    $(':checkbox').each(function(){
      $(this).click(function() {
        $('#save_button').attr("disabled", true);
        $(':checkbox:checked').each(function(){
          $('#save_button').attr("disabled", false);
        });
      });
    });
    // When saved button is clicked store the selected toppings in the hidden field
    $('#save_button').click(function(){
      var selectedToppings = [];
      $(':checkbox:checked').each(function(i){
        selectedToppings[i] = $(this).val();
      });
      $('#toppings').val(selectedToppings);
      // Send the form
      $('#pizza_form').submit();
    });
  });
</script>
{% endblock js %}
